<!-- TODO: have the game data be fetched in a script here rather than run on the nodejs server -->
<h1><%= gameData.name %></h1>
<img src="<%= gameData.header_image %>">
<h2> Description: <%= gameData.short_description %> </h2>
<h2>Reviews: <%= gameData.reviews.total_reviews %> reviews, <%= ((gameData.reviews.total_positive / gameData.reviews.total_reviews) * 100).toFixed(2) %>% positive</h2>
<% if (gameData.price_overview.discount_percent != 0)
{
    %><h2>Price: <s><%= gameData.price_overview.initial_formatted %></s> <%= gameData.price_overview.final_formatted %> <%= gameData.price_overview.discount_percent %>% off</h2>
<% } else { %>
    <h2> Price: <%= gameData.price_overview.final_formatted %> </h2>
<% } %>
