<script>
    var searchTimer = 0;
    function delay(fn, ms) {
     
        return function(...args) {
            clearTimeout(searchTimer)
            searchTimer = setTimeout(fn.bind(this, ...args), ms || 0)
        }
    }

    function searchGame(i) {
        searchValue = i.value;
        if (searchValue == '') {
            document.getElementById('searchResults').innerHTML = '';
            return;
        } else {
            res = fetch('/game/search/' + searchValue, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((res) => {
                // console.log(res);
                if (res.ok) {
                    res.json().then((data) => {
                        // console.log(data);
                        document.getElementById('searchResults').innerHTML = '';
                        for (var i = 0; i < data.length; i++) {
                            // console.log(data[i].document)
                            document.getElementById('searchResults').innerHTML += '<li><a href="/game/add/'+ '<%= wishlist.id %>' +  '/' + data[i].document.appid + '">' + data[i].document.name + '</a></li>';
                        }
                    });
                }
            });
        }
    }
</script>

<h1><%= wishlist.name %></h1>
<h2>Hello, <%= user.name %>.</h2>
<img src="<%= user.avatar %>">
<form action=/game/add method="post" name="test form">
    <input type="text" name="game_name" value="" placeholder="Enter Game Name" onkeyup="delay(searchGame, 500)(this)">
    <input type="submit" value="Add Game">
</form>
<ul id="searchResults">
</ul>
<ul>
    <%
    if (wishlist) {
        // console.log(wishlist.games);
        for (var game in wishlist.games){
            // console.log(wishlist.games[game]);
            %>
            <li><a href="/game/<%= game %>"><%= wishlist.games[game] %></a></li>
            <%
        }
        
    } %>
</ul>